@{
    ViewData["Title"] = "Enter Transfer Amount";
}

<div class="row">
    <div class="col">
        <h3 class="mb-sm-0 text-center">Please enter Account Number of recipient and amount to be transfered </h3>
        <br>
    </div>
</div>
<form asp-controller="EnterTransferAmount" asp-action="CheckPIN">
    <div class="row">
        <div class="col-xl-2"></div>
        <div class="col-xl-8">
            <div class="input-group">
                <div class="input-group-text"></div>
                <input class="form-control 2f" type="number" style="height: 100px; font-size: 40px;"
                       placeholder="Enter recipient Account Number" id="transfer-pin">
            </div>
        </div>
        <div class="col-xl-2"></div>
    </div>
    <div class="row">
        <div class="col-xl-2"></div>
        <div class="col-xl-8">
            <div class="input-group">
                <div class="input-group-text">$</div>
                <input class="form-control 2f" type="number" style="height: 100px; font-size: 40px;"
                       placeholder="0.00" id="transfer-amount">
            </div>
        </div>
        <div class="col-xl-2"></div>
    </div>
    <div class="row" style="padding-top: 20px;">
        <div class="col-xl-3 col-md-6"></div>
        <div class="col-xl-3 col-md-6">
            <!-- card -->
            <div class="card card-h-100">
                <!-- card body -->
                <button type="button" class="btn btn-dark waves-effect waves-light">
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col" style="font-size: 20px;">
                                Clear
                            </div>
                        </div>
                    </div>
                </button>
                <!-- end card body -->
            </div><!-- end card -->
        </div><!-- end col -->
        <div class="col-xl-3 col-md-6">
            <!-- card -->
            <div class="card card-h-100">
                <!-- card body -->
                <button asp-controller="EnterTransferAmount" asp-action="CheckPIN" type="submit" class="btn btn-dark waves-effect waves-light">
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col" style="font-size: 20px;">
                                Confirm
                            </div>
                        </div>
                    </div>
                </button>
                <!-- end card body -->
            </div><!-- end card -->
        </div><!-- end col -->
        <div class="col-xl-3 col-md-6"></div>
</form>