@{
    ViewData["Title"] = "Enter Account Number";
}

<div class="row">
    <div class="col">
        <h1 class="mb-sm-0">Welcome</h1>
        <br>
        <br>
        <label class="form-label" style="font-size: 25px;">Please enter your account number</label>
    </div>
</div>

<form asp-controller="Home" asp-action="CheckAccountExists">
    <div class="row">
        <div class="col-xl-5 col-md-6">
            <input name="accountNo" class="form-control account-no" type="text" maxlength="12" id="account-no" >
        </div>
    </div>

    <div class="row" style="padding-top: 20px;">
        <div class="col-xl-2 col-md-6">
            <div class="card card-h-100">
                <button type="button" class="btn btn-dark waves-effect waves-light" onclick="clearAccountField()">
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col" style="font-size: 20px;">
                                Clear
                            </div>
                        </div>
                    </div>
                </button>
            </div>
        </div>
        <div class="col-xl-2 col-md-6">
            <div class="card card-h-100">
                <button style="color: white;" type="submit" class="btn btn-dark waves-effect waves-light" formmethod="post" id="checkAccountExists" disabled>
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col" style="font-size: 20px;">
                                Enter
                            </div>
                        </div>
                    </div>
                </button>
            </div>
        </div>
    </div>
</form>