@{
    ViewData["Title"] = "Dispense Cash";
}

<div class="row">
    <div class="col-3"></div>
    <div class="col-6">
        <lottie-player src="https://assets1.lottiefiles.com/packages/lf20_QiMt7cXgEE.json"
            background="transparent" speed="0.8" style="width: 640px; height: 591px;" loop autoplay>
        </lottie-player>
        <label class="form-label" style="font-size: 25px; text-align: center; width: 640px;">Please collect your cash below</label>
    </div>
    <div class="col-3"></div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://unpkg.com/@@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>

@*  <script>
    setTimeout(loadLoginPage, 5000);
    loadUselessFacts();

    function loadLoginPage() {
        window.location.href = "../HTML/login.html";
    }    
  </script>*@