@{
    ViewData["Title"] = "Authentication Error";
}

<div class="row">
    <div class="col">
        <h1 class="mb-sm-0">We have encountered an error while trying to authenticate your transaction</h1>
        <br>
        <br>

        <label class="form-label" style="font-size: 25px;">Please enter your PIN again</label>
    </div>
</div>
<form asp-controller="AuthenticationError" asp-action="CheckPinAgain" id="pin_form">
    <div class="row">
        <input name="pin1" class="form-control pin-no" type="text" maxlength="1" autofocus="autofocus" />

        <input name="pin2" class="form-control pin-no" type="text" maxlength="1" />

        <input name="pin3" class="form-control pin-no" type="text" maxlength="1" />

        <input name="pin4" class="form-control pin-no" type="text" maxlength="1" />

        <input name="pin5" class="form-control pin-no" type="text" maxlength="1" />

        <input name="pin6" class="form-control pin-no" type="text" maxlength="1" />

        <input name="pin7" class="form-control pin-no" type="text" maxlength="1" hidden/>      
        
        <div class="col-xl-1 col-md-6"></div>

        <div class="col-xl-1 col-md-6">
            <!-- card -->
            <div class="card card-h-100">
                <!-- card body -->
                <button type="button" class="btn btn-light waves-effect waves-light" id="1"
                    onclick="OnKeyPadPressed(1)">
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col" style="font-size: 20px;">
                                1
                            </div>
                        </div>
                    </div>
                </button>
                <!-- end card body -->
            </div><!-- end card -->
        </div><!-- end col -->
        <div class="col-xl-1 col-md-6">
            <!-- card -->
            <div class="card card-h-100">
                <!-- card body -->
                <button type="button" class="btn btn-light waves-effect waves-light" id="2"
                    onclick="OnKeyPadPressed(2)">
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col" style="font-size: 20px;">
                                2
                            </div>
                        </div>
                    </div>
                </button>
                <!-- end card body -->
            </div><!-- end card -->
        </div><!-- end col -->
        <div class="col-xl-1 col-md-6">
            <!-- card -->
            <div class="card card-h-100">
                <!-- card body -->
                <button type="button" class="btn btn-light waves-effect waves-light" id="3"
                    onclick="OnKeyPadPressed(3)">
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col" style="font-size: 20px;">
                                3
                            </div>
                        </div>
                    </div>
                </button>
                <!-- end card body -->
            </div><!-- end card -->
        </div><!-- end col -->
        <div class="col-xl-2 col-md-6">
            <!-- card -->
            <div class="card card-h-100">
                <!-- card body -->
                <button asp-controller="AuthenticationError" asp-action="ReturnToHome" type="submit" class="btn btn-light waves-effect waves-light">
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col" style="font-size: 20px;">
                                Cancel
                            </div>
                        </div>
                    </div>
                </button>
                <!-- end card body -->
            </div><!-- end card -->
        </div><!-- end col -->
    </div>
    <div class="row">
        <div class="col-xl-7 col-md-6"></div>

        <div class="col-xl-1 col-md-6">
            <!-- card -->
            <div class="card card-h-100">
                <!-- card body -->
                <button type="button" class="btn btn-light waves-effect waves-light" id="4"
                    onclick="OnKeyPadPressed(4)">
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col" style="font-size: 20px;">
                                4
                            </div>
                        </div>
                    </div>
                </button>
                <!-- end card body -->
            </div><!-- end card -->
        </div><!-- end col -->
        <div class="col-xl-1 col-md-6">
            <!-- card -->
            <div class="card card-h-100">
                <!-- card body -->
                <button type="button" class="btn btn-light waves-effect waves-light" id="5"
                    onclick="OnKeyPadPressed(5)">
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col" style="font-size: 20px;">
                                5
                            </div>
                        </div>
                    </div>
                </button>
                <!-- end card body -->
            </div><!-- end card -->
        </div><!-- end col -->
        <div class="col-xl-1 col-md-6">
            <!-- card -->
            <div class="card card-h-100">
                <!-- card body -->
                <button type="button" class="btn btn-light waves-effect waves-light" id="6"
                    onclick="OnKeyPadPressed(6)">
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col" style="font-size: 20px;">
                                6
                            </div>
                        </div>
                    </div>
                </button>
                <!-- end card body -->
            </div><!-- end card -->
        </div><!-- end col -->
        <div class="col-xl-2 col-md-6">
            <!-- card -->
            <div class="card card-h-100">
                <!-- card body -->
                <button type="button" class="btn btn-light waves-effect waves-light" id="clear">
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col" style="font-size: 20px;">
                                Clear
                            </div>
                        </div>
                    </div>
                </button>
                <!-- end card body -->
            </div><!-- end card -->
        </div><!-- end col -->
    </div>
    <div class="row">
        <div class="col-xl-7 col-md-6"></div>

        <div class="col-xl-1 col-md-6">
            <!-- card -->
            <div class="card card-h-100">
                <!-- card body -->
                <button type="button" class="btn btn-light waves-effect waves-light" id="7"
                    onclick="OnKeyPadPressed(7)">
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col" style="font-size: 20px;">
                                7
                            </div>
                        </div>
                    </div>
                </button>
                <!-- end card body -->
            </div><!-- end card -->
        </div><!-- end col -->
        <div class="col-xl-1 col-md-6">
            <!-- card -->
            <div class="card card-h-100">
                <!-- card body -->
                <button type="button" class="btn btn-light waves-effect waves-light" id="8"
                    onclick="OnKeyPadPressed(8)">
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col" style="font-size: 20px;">
                                8
                            </div>
                        </div>
                    </div>
                </button>
                <!-- end card body -->
            </div><!-- end card -->
        </div><!-- end col -->
        <div class="col-xl-1 col-md-6">
            <!-- card -->
            <div class="card card-h-100">
                <!-- card body -->
                <button type="button" class="btn btn-light waves-effect waves-light" id="9"
                    onclick="OnKeyPadPressed(9)">
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col" style="font-size: 20px;">
                                9
                            </div>
                        </div>
                    </div>
                </button>
                <!-- end card body -->
            </div><!-- end card -->
        </div><!-- end col -->
        <div class="col-xl-2 col-md-6">
            <!-- card -->
            <div class="card card-h-100">
                <!-- card body -->
                <button type="button" class="btn btn-light waves-effect waves-light"
                    style="height: 87.03px;" id="asterisk"  onclick="OnKeyPadPressed('*')" disabled>
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col" style="font-size: 20px;"></div>
                        </div>
                    </div>
                </button>
                <!-- end card body -->
            </div><!-- end card -->
        </div><!-- end col -->
    </div>
    <div class="row">
        <div class="col-xl-7 col-md-6"></div>

        <div class="col-xl-1 col-md-6">
            <!-- card -->
            <div class="card card-h-100">
                <!-- card body -->
                <button type="button" class="btn btn-light waves-effect waves-light"
                    style="height: 87.03px;">
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col" style="font-size: 20px;"></div>
                        </div>
                    </div>
                </button>
                <!-- end card body -->
            </div><!-- end card -->
        </div><!-- end col -->
        <div class="col-xl-1 col-md-6">
            <!-- card -->
            <div class="card card-h-100">
                <!-- card body -->
                <button type="button" class="btn btn-light waves-effect waves-light" id="0"
                    onclick="OnKeyPadPressed(0)">
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col" style="font-size: 20px;">
                                0
                            </div>
                        </div>
                    </div>
                </button>
                <!-- end card body -->
            </div><!-- end card -->
        </div><!-- end col -->
        <div class="col-xl-1 col-md-6">
            <!-- card -->
            <div class="card card-h-100">
                <!-- card body -->
                <button type="button" class="btn btn-light waves-effect waves-light">
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col" style="font-size: 20px;">
                                .
                            </div>
                        </div>
                    </div>
                </button>
                <!-- end card body -->
            </div><!-- end card -->
        </div><!-- end col -->
        <div class="col-xl-2 col-md-6">
            <a style="color: white;" asp-controller="AuthenticationError" asp-action="CheckPINAgain" id="enterButton">
                <!-- card -->
                <div class="card card-h-100">
                    <!-- card body -->
                    <button type="submit" class="btn btn-light waves-effect waves-light" id="enter" formmethod="post" disabled>
                        <div class="card-body">
                            <div class="row align-items-center">
                                <div class="col" style="font-size: 20px;">
                                    Enter
                                </div>
                            </div>
                        </div>
                    </button>
                    <!-- end card body -->
                </div><!-- end card -->
            </a>
        </div><!-- end col -->
    </div>
</form>