@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="row">
    <div class="col-7" style="border-right: 5px solid var(--bs-border-color); padding-right: 20px;">
        <h2 class="mb-sm-0">Hello!</h2>
        <h4 class="mb-sm-0">What would you like to do today?</h4>

        <div class="row">
            <p> </p>
            <p> </p>
            <p> </p>
            <h4>Get Cash</h4>
            <p> </p>
        </div> <!-- line breaks -->

        <div class="row">
            <div class="col-xl-6 col-md-6">
                <!-- card -->
                <div class="card card-h-100">
                    <!-- card body -->
                    <button type="button" class="btn btn-dark waves-effect waves-light">
                        <div class="card-body">
                            <div class="row align-items-center">
                                <div class="col p-1">
                                    $50
                                </div>
                            </div>
                        </div>
                    </button>
                    <!-- end card body -->
                </div><!-- end card -->
            </div><!-- end col -->
            <div class="col-xl-6 col-md-6">
                <!-- card -->
                <div class="card card-h-100">
                    <!-- card body -->
                    <button type="button" class="btn btn-dark waves-effect waves-light">
                        <div class="card-body">
                            <div class="row align-items-center">
                                <div class="col p-1">
                                    $80
                                </div>
                            </div>
                        </div>
                    </button>
                    <!-- end card body -->
                </div><!-- end card -->
            </div><!-- end col -->
        </div>

        <div class="row">
            <div class="col-xl-6 col-md-6">
                <!-- card -->
                <div class="card card-h-100">
                    <!-- card body -->
                    <button type="button" class="btn btn-dark waves-effect waves-light">
                        <div class="card-body">
                            <div class="row align-items-center">
                                <div class="col p-1">
                                    $100
                                </div>
                            </div>
                        </div>
                    </button>
                    <!-- end card body -->
                </div><!-- end card -->
            </div><!-- end col -->
            <div class="col-xl-6 col-md-6">
                <!-- card -->
                <div class="card card-h-100">
                    <!-- card body -->
                    <button type="button" class="btn btn-dark waves-effect waves-light">
                        <div class="card-body">
                            <div class="row align-items-center">
                                <div class="col p-1">
                                    $200
                                </div>
                            </div>
                        </div>
                    </button>
                    <!-- end card body -->
                </div><!-- end card -->
            </div><!-- end col -->
        </div>

        <div class="row">
            <div class="col-xl-12 col-md-14">
                <a href="select-account-type.html" style="color: white;">

                    <!-- card -->
                    <div class="card card-h-100">
                        <!-- card body -->
                        <button type="button" class="btn btn-dark waves-effect waves-light">
                            <div class="card-body">
                                <div class="row align-items-center">
                                    <div class="col" style="font-size: 23px;">
                                        Other Cash Amounts
                                    </div>
                                </div>
                            </div>
                        </button>
                        <!-- end card body -->
                    </div><!-- end card -->
                </a>
            </div><!-- end col -->
        </div>
    </div>
    <div class="col-5">
        <div class="row" style="margin-top: 58.78px;">
            <p> </p>
            <p> </p>
            <p> </p>
            <h4>Non Cash Services</h4>
            <p> </p>
        </div> <!-- line breaks -->

        <div class="row">
            <div class="col-xl-6 col-md-6">
                <!-- card -->
                <div class="card card-h-100">
                    <!-- card body -->
                    <button type="button" class="btn btn-light waves-effect waves-light" disabled
                        style="height: 242px;">
                        <div class="card-body">
                            <div class="row align-items-center">
                                <i class="mdi mdi-credit-card-check-outline font-size-24"></i>
                                <div class="col" style="font-size: 24px;">
                                    Activate Card
                                </div>
                            </div>
                        </div>
                    </button>
                    <!-- end card body -->
                </div><!-- end card -->
            </div><!-- end col -->
            <div class="col-xl-6 col-md-6">
                <!-- card -->
                <div class="card card-h-100">
                    <!-- card body -->
                    <button type="button" class="btn btn-light waves-effect waves-light"
                        style="height: 242px;">
                        <div class="card-body">
                            <div class="row align-items-center">
                                <i class="mdi mdi-hand-coin-outline font-size-24"></i>
                                <div class="col" style="font-size: 24px;">
                                    Balance Enquiry
                                </div>
                            </div>
                        </div>
                    </button>
                    <!-- end card body -->
                </div><!-- end card -->
            </div><!-- end col -->
        </div>

        <div class="row">
            <div class="col-xl-8 col-md-6">

            </div>
            <div class="col-xl-4 col-md-6">
                <a href="non-cash-services.html" class="text-decoration"
                    style="font-size: 20px;">More
                    Services ></a>
            </div>
        </div>
    </div>
</div>