@using Microsoft.AspNetCore.Http

@{
    ViewData["Title"] = "Other Services";
}

<div class="row">
    <div class="col">
        <h2 class="mb-sm-0">Hello @Context.Session.GetString("AccountName")!</h2>
        <h4 class="mb-sm-0">What would you like to do today?</h4>

        <div class="row">
            <p> </p>
            <p> </p>
            <p> </p>
            <h4>Non Cash Services</h4>
            <p> </p>
        </div> <!-- line breaks -->

        <form>
            <div class="row">
                <div class="col-xl-4 col-md-6">
                    <!-- card -->
                    <div class="card card-h-100">
                        <!-- card body -->
                        <button type="button" class="btn btn-light waves-effect waves-light"
                            style="height: 242px;" disabled>
                            <div class="card-body">
                                <div class="row align-items-center">
                                    <i class="mdi mdi-bank-transfer-out font-size-24"></i>
                                    <div class="col" style="font-size: 24px;">
                                        Set up quick transaction
                                    </div>
                                </div>
                            </div>
                        </button>
                        <!-- end card body -->
                    </div><!-- end card -->
                </div><!-- end col -->
                <div class="col-xl-4 col-md-6">
                    <!-- card -->
                    <div class="card card-h-100">
                        <!-- card body -->
                        <button asp-controller="MainMenu" asp-action="BalanceEnquiry" type="submit" class="btn btn-light waves-effect waves-light"
                            style="height: 242px;">
                            <div class="card-body">
                                <div class="row align-items-center">
                                    <i class="mdi mdi-hand-coin-outline font-size-24"></i>
                                    <div class="col" style="font-size: 24px;">
                                        Balance Enquiry
                                    </div>
                                </div>
                            </div>
                        </button>
                        <!-- end card body -->
                    </div><!-- end card -->
                </div><!-- end col -->
                <div class="col-xl-4 col-md-6">
                    <!-- card -->
                    <div class="card card-h-100">
                        <!-- card body -->
                        <button type="button" class="btn btn-light waves-effect waves-light"
                            style="height: 242px;" disabled>
                            <div class="card-body">
                                <div class="row align-items-center">
                                    <i class="mdi mdi-receipt font-size-24"></i>
                                    <div class="col" style="font-size: 24px;">
                                        Bill Payment
                                    </div>
                                </div>
                            </div>
                        </button>
                        <!-- end card body -->
                    </div><!-- end card -->
                </div><!-- end col -->
            </div>

            <div class="row">
                <div class="col-xl-4 col-md-6">
                    <!-- card -->
                    <div class="card card-h-100">
                        <!-- card body -->
                        <button asp-controller="EnterTransferAccount" asp-action="Index" type="submit" class="btn btn-light waves-effect waves-light" style="height: 242px;">
                            <div class="card-body">
                                <div class="row align-items-center">
                                    <i class="mdi mdi-bank-transfer font-size-24"></i>
                                    <div class="col p-1" style="font-size: 24px;">
                                        Transfer Funds
                                    </div>
                                </div>
                            </div>
                        </button>
                        <!-- end card body -->
                    </div><!-- end card -->
                </div><!-- end col -->
                <div class="col-xl-4 col-md-6">
                    <!-- card -->
                    <div class="card card-h-100">
                        <!-- card body -->
                        <button type="button" class="btn btn-light waves-effect waves-light"
                            style="height: 242px;" disabled>
                            <div class="card-body">
                                <div class="row align-items-center">
                                    <i class="mdi mdi-key font-size-24"></i>
                                    <div class="col" style="font-size: 24px;">
                                        CPF Services
                                    </div>
                                </div>
                            </div>
                        </button>
                        <!-- end card body -->
                    </div><!-- end card -->
                </div><!-- end col -->
                <div class="col-xl-4 col-md-6">
                    <!-- card -->
                    <div class="card card-h-100">
                        <!-- card body -->
                        <button type="button" class="btn btn-light waves-effect waves-light"
                            style="height: 242px;" disabled>
                            <div class="card-body">
                                <div class="row align-items-center">
                                    <i class="mdi mdi-chart-line font-size-24"></i>
                                    <div class="col" style="font-size: 24px;">
                                        Investment Services
                                    </div>
                                </div>
                            </div>
                        </button>
                        <!-- end card body -->
                    </div><!-- end card -->
                </div><!-- end col -->
            </div>
        </form>
    </div>
</div>