@{
    ViewData["Title"] = "Service Unavailable";
}

<div class="row">
    <div class="col-3"></div>
    <div class="col-6">
        <lottie-player src="https://assets1.lottiefiles.com/packages/lf20_jsTRZT.json"
            background="transparent" speed="1" style="width: 541px; height: 500px; margin: 0 auto;" loop autoplay>
        </lottie-player>
        <label class="form-label" style="font-size: 25px; text-align: center; width: 640px;">This service is temporarily unavailable.</label>
        <label class="form-label" style="font-size: 25px; text-align: center; width: 640px;">Please use another OCBC ATM machine.</label>
    </div>
    <div class="col-3"></div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://unpkg.com/@@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
