<footer class="footer w-100" style="left:auto;right:auto;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <script>
                    document.write(new Date().getFullYear())
                </script> © PFD ATM 3.0 Scam Alert - Team A
            </div>
            <div class="col-sm-6">
                <div class="text-sm-end d-none d-sm-block">
                    Designed & Developed by <a
                        href="https://www.linkedin.com/in/isabelle-pak-a23068211/"
                        class="text-decoration-underline">Isabelle Pak</a>
                    , <a href="https://www.linkedin.com/in/ethan-wong-691546226/" 
                         class="text-decoration-underline">Ethan Wong</a>
                    , <a href="https://www.linkedin.com/in/gabriel-koh-b51665211/" 
                         class="text-decoration-underline">Gabriel Koh</a>
                    , <a href="https://www.linkedin.com/in/chiam-wei-122094211/" 
                         class="text-decoration-underline">Chiam Wei</a>
                    & <a href="https://www.linkedin.com/in/owhy4640/" 
                         class="text-decoration-underline">Owen Wong</a>
                </div>
            </div>
        </div>
    </div>
</footer>