<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PFD_ATM_3._0_Team_A</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <section class="mh-100 mw-100 overflow-hidden position-absolute" style="z-index:-1;">
        <img class="" src="~/images/abstract-background-with-monochrome-low-poly-design_1048-14453.jpg" />
    </section>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light">
            <div class="container p-3 m-auto">
                <img class="navbar-brand img-fluid" style="max-width:15%" src="~/images/ocbc-bank-logo.png" asp-area="" asp-controller="Home" asp-action="Index" />
                <div class="collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav">
                        <li class="nav-item m-auto">
                            <span class="font-weight-bolder">中文</span>
                        </li>
                        <li class="m-auto p-2">
                            <span class="font-weight-bolder">|</span>
                        </li>
                        <li class="nav-item">
                            <img src="~/images/logout_FILL0_wght400_GRAD0_opsz48.svg" />
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-center" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title text-center w-100" id="modal-title">Login</h2>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" id="modalContent"></div>
            </div>
        </div>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - PFD_ATM_3._0_Team_A - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
