<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] | OCBC ATM 3.0</title>
    <meta charset="utf-8" />
    <meta content="PFD Scam Alert - ATM 3.0" name="description" />
    <link rel="shortcut icon" href="~/images/OCBC Small.png">
    <link rel="stylesheet" type="text/css" href="~/css/site.css" />
    <link rel="stylesheet" type="text/css" href="~/lib/admin-resources/jquery.vectormap/jquery-jvectormap-1.2.2.css" /> <!-- NOTE -->
    <link rel="stylesheet" type="text/css" href="~/css/preloader.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="~/css/bootstrap.min.css" id="bootstrap-style" />
    <link rel="stylesheet" type="text/css" href="~/css/icons.min.css" />
    <link rel="stylesheet" type="text/css" href="~/css/app.min.css" id="app-style" />

    <style>
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            display: none;
        }

        input {
            text-align: center;
        }

        input.form-control {
            height: 86.66px;
            font-size: 30px;
        }       

        input.pin-no {
            margin: 0 10px;
            width: 86.66px;
        }

        ::-ms-reveal {
            display: none;
        }
    </style>
</head>
<body data-layout-size="boxed">
    <div id="layout-wrapper">
        @{
            await Html.RenderPartialAsync("_Topbar.cshtml");
        }
        <div class="page-content">
            <div class="container-fluid">
                @RenderBody()
            </div>
        </div>

        <!--Facial Expression Recognition Modal-->
        <div class="modal fade" id="ferModal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-center" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2 class="modal-title text-center w-100" id="ferModalTitle">Do you require assistance?</h2>
                        <button type="button" class="close btn-close" data-dismiss="modal" aria-label="Close">&times;</button>
                    </div>
                    <div class="modal-body" id="ferModalBody">
                        <div class="text-center">
                            <p>Our system has detected that you are in some distress.</p>
                            <p>Would you like to continue this trasaction?</p>
                            <div class="d-sm-inline-flex">
                                <a href="@Url.Action("Index", "Home")" class="btn btn-primary mx-2 text-white">End Transaction</a>
                                <button type="button" onclick="modalHide()" class="btn btn-primary mx-2">Continue</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Face Depth Measurement Modal-->
        <div class="modal fade" id="faceDepthModal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-center" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2 class="modal-title text-center w-100" id="faceDepthModalTitle">Too close!</h2>
                        <button type="button" class="close btn-close" data-dismiss="modal" aria-label="Close">&times;</button>
                    </div>
                    <div class="modal-body" id="faceDepthModalBody">
                        <div class="text-center">
                            <p>Please ensure you are at least 0.5m away from any individual.</p>
                            <lottie-player src="https://assets10.lottiefiles.com/packages/lf20_6twxg3pm.json" background="transparent" speed="1" style="width: 300px; height: 300px; margin: 0 auto" loop autoplay></lottie-player>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        @{
            await Html.RenderPartialAsync("_Footer.cshtml");
        }
    </div>

    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/metismenu/metisMenu.min.js"></script>
    <script src="~/lib/simplebar/simplebar.min.js"></script>
    <script src="~/lib/node-waves/waves.min.js"></script>
    <script src="~/lib/feather-icons/feather.min.js"></script>
    <script src="~/lib/pace-js/pace.min.js"></script>
    <script src="~/js/app.js"></script>
    <script src=@Url.Content("https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js")></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
