@using Microsoft.AspNetCore.Http

<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <style>
        html,
       body {
            margin: 0;
        }

        .banner{
            background: #009579;
        }

        .banner__content{
            padding: 16px;
            max-width: 2500px;
            margin: 0 auto;
            display: flex;
            align-items: center;
        }

        .banner__text{
            flex-grow: 1;
            line-height: 1.4;
            font-family: 'Quicksand', sans-serif;
        }

        .banner__close{
            background: none;
            border: none;
            cursor: pointer;
        }

        .banner__text,
        .banner__close > span{
            color: #ffffff;
        }
    </style>
</head>


<header id="page-topbar">
    <div class="navbar-header">
        <div class="d-flex">
            <!-- LOGO -->
            <div class="navbar-brand-box">
                <a href="main-menu.html" class="logo logo-dark">
                    <span class="logo-sm">
                        <img src="~/images/OCBC Small.png" alt="" height="24">
                    </span>
                    <span class="logo-lg">
                        <img src="~/images/OCBC Large.png" alt="" height="70">
                    </span>
                </a>

                <a href="main-menu.html" class="logo logo-light">
                    <span class="logo-sm">
                        <img src="~/images/OCBC Small.png" alt="" height="24">
                    </span>
                    <span class="logo-lg">
                        <img src="~/images/OCBC Large.png" alt="" height="70">
                    </span>
                </a>
            </div>
        </div>

        <div class="banner">
            <div class="banner__content">
                <div class="banner__text">
                    <strong>Announcement:</strong> Never divulge your banking credentials or one-time passwords to anyone. Find out more on how you can spot a scam with our website.<br>If in doubt, call the bank's official hotline at 1800 363 3333 (or +65 6363 3333 if you are overseas).
                </div>
                <button class="banner__close" type="button">
                    <span class="material-icons">
                        close
                    </span>
                </button>
            </div>
        </div>

        <div class="d-flex">
            <div class="dropdown d-none d-sm-inline-block"
                 style="border-right: 3px solid var(--bs-border-color); padding-right: 5px;">
                <button type="button" class="btn header-item" id="mode-setting-btn">
                    <i data-feather="moon" class="icon-lg layout-mode-dark"></i>
                    <i data-feather="sun" class="icon-lg layout-mode-light"></i>
                </button>
            </div>

            <div class="dropdown d-inline-block">
                <button type="button" class="btn header-item">
                    <i class="mdi mdi-logout font-size-22 align-middle me-1" style="padding-top: 2px"></i>
                </button>
            </div>

            <script>
                document.querySelector(".banner__close").addEventListener("click", function () {
                    this.closest(".banner").style.display = "none";
                });
            </script>

        </div>
    </div>
</header>